In [3]:
import pandas as pd
import re

In [4]:
df = pd.read_csv('./Data/Novice.csv')

In [5]:
# Things to check alignment: Gender, Race,

In [6]:
df['Alignment Gender'] = df['Big Gender'] == df['Little Gender']

In [7]:
df['Alignment Gender']

0       True
1       True
2       True
3       True
4       True
        ...
3270    True
3271    True
3272    True
3273    True
3274    True
Name: Alignment Gender, Length: 3275, dtype: bool

In [8]:
print(df['Alignment Gender'].sum())

3074

In [9]:
#df.to_csv('your_file.csv', index=False)

In [11]:
df['Big Contact: Interest Finder - Sports']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
3270    NaN
3271    NaN
3272    NaN
3273    NaN
3274    NaN
Name: Big Contact: Interest Finder - Sports, Length: 3275, dtype: object

In [15]:
filtered_df = df.dropna(subset=['Big Contact: Interest Finder - Sports'])
filtered_df['Big Contact: Interest Finder - Sports']

9       Bowling; Frisbee; Golf/mini golf; Hockey; Ping...
262                                               Bowling
599     Basketball; Frisbee; Rollerskating/blading; Te...
618           Bowling; Frisbee; Golf/mini golf; Ping Pong
636              Bowling; Rollerskating/blading; Swimming
725     Basketball; Bowling; Football; Frisbee; Golf/m...
726     Basketball; Bowling; Football; Frisbee; Golf/m...
737                                        Hockey; Tennis
946     Bowling; Frisbee; Golf/mini golf; Ping Pong; S...
1172    Bowling; Golf/mini golf; Rollerskating/blading...
1324    Baseball/Softball; Basketball; Bowling; Golf/m...
1350    Bowling; Football; Frisbee; Golf/mini golf; Ma...
1381                                           None/Other
1389    Bowling; Frisbee; Golf/mini golf; Ping Pong; R...
1392       Baseball/Softball; Bowling; Frisbee; Ping Pong
1423    Basketball; Bowling; Football; Rollerskating/b...
1447    Baseball/Softball; Bowling; Golf/mini golf; Gy...
1478    Baseball/Softball; Bowling; Football; Frisbee;...
1523    Bowling; Ping Pong; Rollerskating/blading; Soc...
1552    Basketball; Bowling; Golf/mini golf; Skiing; S...
1554    Baseball/Softball; Basketball; Bowling; Footba...
1720    Bowling; Frisbee; Golf/mini golf; Ping Pong; S...
1726    Baseball/Softball; Basketball; Bowling; Footba...
1773    Basketball; Football; Gymnastics; Rollerskatin...
2005    Basketball; Frisbee; Rollerskating/blading; Te...
2172          Bowling; Frisbee; Golf/mini golf; Ping Pong
3125                                              Frisbee
Name: Big Contact: Interest Finder - Sports, dtype: object

In [16]:
df['Little Contact: Interest Finder - Sports']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
3270    NaN
3271    NaN
3272    NaN
3273    NaN
3274    NaN
Name: Little Contact: Interest Finder - Sports, Length: 3275, dtype: object

In [17]:
filtered_df = df.dropna(subset=['Little Contact: Interest Finder - Sports'])
filtered_df['Little Contact: Interest Finder - Sports']

107     Baseball/Softball; Basketball; Bowling; Gymnas...
109     Baseball/Softball; Basketball; Bowling; Gymnas...
142                                              Swimming
145                                              Swimming
147                                              Swimming
                              ...
1682             Bowling; Football; Rollerskating/blading
1891    Basketball; Football; Frisbee; Golf/mini golf;...
1897    Baseball/Softball; Basketball; Bowling; Footba...
1913    Basketball; Bowling; Frisbee; Golf/mini golf; ...
1914    Basketball; Bowling; Frisbee; Golf/mini golf; ...
Name: Little Contact: Interest Finder - Sports, Length: 80, dtype: object